@import url('https://msr8.dev/style.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Inconsolata&display=swap');

html    {background-color: var(--bg-color);}

summary {
    font-family: Montserrat;
    color: white;
    text-align: center;
    font-size: 2em;
    outline-style: solid;
    outline-width: 1px;
}

.upvote {
    max-height: 95vh;
    max-width: 95vw;
    /* margin: 15px; */
}

#raw_data {
    margin-left:  1%;
    margin-right: 1%;
    padding: 1%;
    color: white;
    background-color: rgb(10, 10, 10);
    /* background-color: rgba(220, 224, 228, 0.1); */
    font-family: Inconsolata;
    border-radius: 5px;
    font-size: 1em;
    /* letter-spacing: 0.05em; */
    text-align: left;
}

#footer {
    text-align: center;
    font-size: 0.8em;
}

.flexcontainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}
.flexitem {
    width: 100vw;
    min-width: 45vw;
    max-width: 95vw;
    padding: 5px;
}

/* If its a mobile, then the last 2 graphs are stacked on top of each other, and text of "Raw data" is made smaller */
@media only screen and (max-width: 768px) {
    .flexcontainer {flex-wrap: wrap;}
    summary        {font-size: 1.5em;}
}