html {
    /* background-color: #090e12; */
    background-color: rgba(0, 0, 0, 0.95);;
}


#main {
    margin: 3%;
    color: white;
}


#rand-button-div {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(255,0,0, 0.5);
    text-align: center;
}

#rand-button {
    margin-left: auto;
    margin-right: auto;
}