@import url('https://msr8.dev/style.css');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Comfortaa:700&display=swap');

:root {
    --fg-var: 130;
}
html {background-color: var(--bg-color);}

a {text-decoration: none;}



/* ============================== MAIN TEXT ============================== */

#main {
    margin: 3%;
    font-family: Comfortaa;
    font-weight: 300;
    color: white;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}


/* ============================== BUTTON ============================== */


.button {
    font-size: 2.5em;
    color: #fca311;
    background-color: #24252a;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
    /* background-color: rgba(0, 255, 0, 0.4); */

    font-family: 'Comfortaa';
    /* font-family: 'Edu NSW ACT Foundation'; */
    font-weight: 700;
    letter-spacing: 0.09em;

    border-radius: 13px;
    border-width: 3px;
    border-style: solid;
    border-top-color:    rgb(229, 229, 229);
    border-left-color:   rgb(229, 229, 229);
    border-right-color:  rgb(105, 105, 105);
    border-bottom-color: rgb(105, 105, 105);
    transition: 0.5s;
}


.button:hover{
    cursor: pointer;
    /* color: rgba(245, 222, 179, 0.9); */
    color: rgb(248, 219, 164);
    border-top-color:    rgb(105, 105, 105);
    border-left-color:   rgb(105, 105, 105);
    border-right-color:  rgb(229, 229, 229);
    border-bottom-color: rgb(229, 229, 229);

    color: rgba(245, 222, 179, 0.9);
    background-color: black;
    transform: translateY(-5px);
}

#flexbox1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* row-gap: 30px; */
    /* column-gap: 50px; */
    /* background-color: rgba(255, 0, 0, 0.4); */
}




/* ============================== FOOTER ============================== */


#footer {
    color: white;
    font-family: Comfortaa;
    font-weight: 300;
    text-align: center;
    margin: 3%;
    /* background-color: rgba(0, 255, 0, 0.4); */
}

#footer>a {
    transition: 0.3s;
    transition-timing-function: ease-out;
}

#footer>a:link , #footer>a:visited , #footer>a:active {
    color: rgb(var(--fg-var) , var(--fg-var), var(--fg-var));
}

#footer>a:hover {
    color: rgb(255,255,255);
    /* font-weight: 400; */
}



